/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#loadButton, #filtersButton, #fixButton, #saveButton, #hideButton, #resetButton {
	-fx-background-color: #A4BEF3;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-border-radius: 100px;
   	-fx-background-size: 20px 20px;
   	-fx-background-repeat: no-repeat;
}

#resetButton{
	-fx-background-image: url("/res/reset.png");
    -fx-background-size: 15px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px center;
}

#filter1, #filter2, #watermark, #dither{	
	-fx-background-color: none;
	-fx-font-weight: bold;
	-fx-text-fill: #494949;
	-fx-border-radius: 100px;
   	-fx-background-size: 20px 20px;
   	-fx-background-repeat: no-repeat;
}	

#filter1{
    -fx-background-image: url("/res/filter1.png");
    -fx-background-size: 80px 80px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20px 10px;
}

#filter2{
	    -fx-background-image: url("/res/filter2.png");
    -fx-background-size: 80px 80px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20px 10px;
}

#watermark{
	    -fx-background-image: url("/res/filter3.png");
    -fx-background-size: 80px 80px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20px 10px;
}

#dither{
	-fx-background-image: url("/res/filter4.png");
    -fx-background-size: 80px 80px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20px 10px;
}

#loadButton{
	-fx-background-image: url("/res/upload.png");
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px center;
}

#saveButton{
	-fx-background-image: url("/res/download.png");
    -fx-background-size: 15px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px center;
}

#brightnessSlider, #contrastSlider{
}

#rotateButton, #flipButton, #redeye, #encodeButton, #decodeButton{
	-fx-background-color: #42A1BA;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-border-radius: 100px;
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
    -fx-background-position: center 10px;   
}

 #redeye{
 	
    -fx-background-size: 30px 30px;
 }

#rotateButton{
		-fx-background-image: url("/res/rotate.png");
}

#flipButton{
		-fx-background-image: url("/res/flip.png");
}

#redeye{
		-fx-background-image: url("/res/redeye.png");
}

#encodeButton{
		-fx-background-image: url("/res/locked.png");
}
#decodeButton{
		-fx-background-image: url("/res/unlocked.png");
}

